.header {
  padding: 0 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include pad() {
    padding: 0 39px;
  }

  @include mobile() {
    padding: 0;
    flex-direction: column;

    .menu {
      width: 100%;
    }
  }

  &__logo {
    width: 80px;

    @include mobile() {
      width: 48px;
      padding: 10px 0;
    }
  }



  .menu__list {
    display: flex;

    li {
      margin: 0 32px;
    }

    >:nth-child(1) {
      margin-left: 0;
    }

    >:nth-child(4) {
      margin-right: 0;
    }

    @include mobile() {
      flex-wrap: wrap;

      li {
        width: 50%;
        margin: 0;
        text-align: center;
        border: 1px solid $header-base;
      }
    }
  }

  .menu__link {
    display: block;
    color: $header-base;
    font-size: $h5-font-size;
    font-weight: 400;
    text-decoration: none;
    padding: 38px 0;

    &:hover {
      color: rgba($header-base, 0.85);
    }

    @include mobile() {
      padding: 8px 0;
    }
  }
}