<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- google fonts 字體 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <header class="header bg-primary">
    <div class="header__main">
      <div class="header__logo">
        <a href="index.html" class="d-block">
          <img src="./assets/images/logo/logo-new_1.png" alt="logo">
        </a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li><a href="#" class="menu__link">系列鏡框</a></li>
          <li><a href="#" class="menu__link">門市據點</a></li>
          <li><a href="#" class="menu__link">部落格</a></li>
          <li><a href="#" class="menu__link">常見問題</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    <%- contents %>
  </main>

  <footer class="footer bg-primary">
    <div class="container">
      <div class="footer__main">
        <div class="nav">
          <ul class="menu">
            <li><a href="#">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
          <ul class="icon-list">
            <li><img src="./assets/images/icon/icon-fb.svg" alt="Facebook"></li>
            <li><img src="./assets/images/icon/icon-ig.svg" alt="Instagram"></li>
            <li><img src="./assets/images/icon/icon-line.svg" alt="Line"></li>
          </ul>
        </div>
        <address class="address">
          <ul>
            <li><img src="./assets/images/icon/icon-phone.svg" alt=""><a href="tel:+0800-000-000">0800-000-000</a></li>
            <li><img src="./assets/images/icon/icon-mail.svg" alt=""><a href="mailto:glasses@business.com">glasses@business.com</a></li>
          </ul>
        </address>        
      </div>
      <div class="footer__copyright">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <div>
          <p>隱私權政策</p>
          <p>服務條款</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
