<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- google fonts 字體 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <header class="header bg-primary">
    <div class="header__main">
      <div class="header__logo">
        <a href="index.html" class="d-block">
          <img src="./assets/images/logo/logo-new_1.png" alt="logo">
        </a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li><a href="#" class="menu__link">系列鏡框</a></li>
          <li><a href="#" class="menu__link">門市據點</a></li>
          <li><a href="#" class="menu__link">部落格</a></li>
          <li><a href="#" class="menu__link">常見問題</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    <%- contents %>
  </main>

  <footer class="footer">
    footer
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
