<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- google fonts 字體 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <header class="header bg-primary">
    <div class="header__logo">
      <a href="./index.html" class="d-block">
        <img src="./assets/images/logo/logo-new_1.png" alt="logo">
      </a>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li><a href="./products.html" class="menu__link">系列鏡框</a></li>
        <li><a href="./location.html" class="menu__link">門市據點</a></li>
        <li><a href="./blog.html" class="menu__link">部落格</a></li>
        <li><a href="./faq.html" class="menu__link">常見問題</a></li>
      </ul>
    </nav>
  </header>

  <main class="main">
    <%- contents %>
  </main>

  <footer class="footer bg-primary">
    <div class="container">
      <div class="footer__main pt-4 pb-3">
        <div class="nav mb-3">
          <ul class="menu">
            <li><a href="./index.html" class="link">首頁</a></li>
            <li><a href="./products.html" class="link">系列鏡框</a></li>
            <li><a href="./location.html" class="link">門市據點</a></li>
            <li><a href="./blog.html" class="link">部落格</a></li>
            <li><a href="./faq.html" class="link">常見問題</a></li>
          </ul>
          <ul class="footer__community">
            <li><a href="#"><img src="./assets/images/icon/icon-fb.svg" class="icon-community link" alt="Facebook"></a></li>
            <li><a href="#"><img src="./assets/images/icon/icon-ig.svg" class="icon-community link" alt="Instagram"></a></li>
            <li><a href="#"><img src="./assets/images/icon/icon-line.svg" class="icon-community link" alt="Line"></a></li>
          </ul>
        </div>
        <address class="address">
          <ul class="address__list">
            <li class="address__item"><img src="./assets/images/icon/icon-phone.svg" class="icon-address mr-2" alt=""><a href="tel:+0800-000-000" class="address__text link">0800-000-000</a></li>
            <li class="address__item"><img src="./assets/images/icon/icon-mail.svg" class="icon-address mr-2" alt=""><a href="mailto:glasses@business.com" class="address__text link">glasses@business.com</a></li>
          </ul>
        </address>        
      </div>
      <div class="footer__copyright">
        <p class="copyright-text">Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="footer__rules">
          <li class="rule"><a href="#">隱私權政策</a></li>
          <li class="rule"><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
