.index {
  .banner {
    height: 840px;
    // 依照dist/assets/style/all.css 去找 dist/assets/images
    background-image: url(../images/banner/banner.png);
    background-size: cover;

    &__main {
      height: 840px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
    }

    &__title {
      font-size: $h1-font-size;
      font-weight: 700;
      color: $secondary;

      @include pad() {
        font-size: $h2-font-size;
      }

      @include mobile() {
        font-size: $h3-font-size;
      }
    }

    .sub-title {
      font-size: $h3-font-size;
      font-weight: 400;
      color: $secondary;
      display: block;

      @include pad() {
        font-size: $h5-font-size;
      }

      @include mobile() {
        font-size: $h6-font-size;
      }
    }
  }

  .services {
    padding-top: 60px;

    @include pad {
      padding-top: 40px;
      padding-bottom: 24px;
    }

    @include mobile {
      padding-top: 32px;
      padding-bottom: 8px;
    }

    &__title {
      font-size: $h2-font-size;
      font-weight: 700;
      color: $secondary;
      text-align: center;
      margin-bottom: 48px;

      @include pad() {
        font-size: $h3-font-size;
        margin-bottom: 40px;
      }

      @include mobile() {
        font-size: $h4-font-size;
        margin-bottom: 28px;
      }
    }

    &__img {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-bottom: 16px;
    }

    .sub-title {
      font-size: $h4-font-size;
      font-weight: 700;
      color: $secondary;
      margin-bottom: 8px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;

      @include pad() {
        padding: 0 77px;
      }

      @include mobile() {
        padding: 0 60px;
      }

      li {
        text-align: center;
        width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 80px;

        @include pad() {
          width: 50%;
          padding: 0;
          margin-bottom: 32px;
        }

        @include mobile() {
          width: 100%;
        }
      }

      >:first-child {
        padding-left: 0;
      }

      >:last-child {
        padding-right: 0;
      }


      >:nth-child(2n+1) {
        @include pad() {
          padding-right: 52.5px;
        }

        @include mobile {
          padding-right: 0;
        }
      }

      >:nth-child(2n) {
        @include pad() {
          padding-left: 52.5px;
        }

        @include mobile {
          padding-left: 0;
        }
      }
    }


    p {
      text-align: left;
      font-weight: 400;
    }
  }

  .classic {
    padding-top: 60px;
    padding-bottom: 48px;

    @include pad() {
      padding-top: 40px;
      padding-bottom: 48px;
    }

    @include mobile() {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__title {
      font-size: $h2-font-size;
      color: $secondary;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;

      @include pad() {
        font-size: $h3-font-size;
        margin-bottom: 32px;
      }

      @include mobile() {
        font-size: $h5-font-size;
        margin-bottom: 20px;
      }
    }

    &__list {

      li {
        display: flex;
        margin-bottom: 32px;

        @include pad() {
          margin-bottom: 8px;
        }

        @include mobile() {
          display: block;
          position: relative;
        }
      }

      >:nth-child(2n+1) {
        .classic__img {
          margin-right: 32px;

          @include mobile() {
            margin-right: 0;
          }
        }
      }

      >:nth-child(2n) {
        flex-direction: row-reverse;

        @include pad() {
          flex-direction: row;
        }

        .classic__img {
          margin-left: 32px;

          @include pad() {
            margin-left: 0;
            margin-right: 32px;
          }

          @include mobile() {
            margin-right: 0;
          }
        }


      }
    }

    &__img {
      max-width: 57%;

      @include mobile() {
        max-width: 100%;
      }
    }

    .text-icon {
      width: 48px;
      height: 48px;
      margin-right: 8px;

      @include pad() {
        width: 40px;
        height: 40px;
      }

      @include mobile() {
        width: 36px;
        height: 36px;
      }
    }

    &__text {
      color: $secondary;
      display: flex;
      align-items: center;

      @include mobile() {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .sub-title {
      font-size: $h2-font-size;
      color: $primary;
      font-weight: 900;
      font-style: italic;

      @include pad() {
        font-size: 28px;
      }
    }

  }
}