.index {
  .banner {
    // 依照dist/assets/style/all.css 去找 dist/assets/images
    background-image: url('../images/banner/banner.png');
    background-size: cover;
    background-position: 50% 50%;

    @include mobile {
      background-image: url('../images/banner/banner-sm.png');
    }

    &__main {
      height: 840px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;

      @include mobile {
        height: 394px;
      }
    }

    &__title {
      font-size: $h1-font-size;
      font-weight: 700;
      color: $secondary;

      @include pad() {
        font-size: $h2-font-size;
      }

      @include mobile() {
        font-size: $h3-font-size;
      }
    }

    .sub-title {
      font-size: $h3-font-size;
      font-weight: 400;
      color: $secondary;
      display: block;

      @include pad() {
        font-size: $h5-font-size;
      }

      @include mobile() {
        font-size: $h6-font-size;
      }
    }
  }

  .services {
    padding-top: 60px;

    @include pad {
      padding-top: 40px;
      padding-bottom: 24px;
    }

    @include mobile {
      padding-top: 32px;
      padding-bottom: 8px;
    }

    &__title {
      font-size: $h2-font-size;
      font-weight: 700;
      color: $secondary;
      text-align: center;
      margin-bottom: 48px;

      @include pad() {
        font-size: $h3-font-size;
        margin-bottom: 40px;
      }

      @include mobile() {
        font-size: $h4-font-size;
        margin-bottom: 28px;
      }
    }

    &__img {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-bottom: 16px;
    }

    .sub-title {
      font-size: $h4-font-size;
      font-weight: 700;
      color: $secondary;
      margin-bottom: 8px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;

      @include pad() {
        padding: 0 77px;
      }

      @include mobile() {
        padding: 0 60px;
      }

      li {
        text-align: center;
        width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 80px;

        @include pad() {
          width: 50%;
          padding: 0;
          margin-bottom: 32px;
        }

        @include mobile() {
          width: 100%;
        }
      }

      >:first-child {
        padding-left: 0;
      }

      >:last-child {
        padding-right: 0;
      }


      >:nth-child(2n+1) {
        @include pad() {
          padding-right: 52.5px;
        }

        @include mobile {
          padding-right: 0;
        }
      }

      >:nth-child(2n) {
        @include pad() {
          padding-left: 52.5px;
        }

        @include mobile {
          padding-left: 0;
        }
      }
    }


    p {
      text-align: left;
      font-weight: 400;
    }
  }

  .classic {
    padding-top: 60px;
    padding-bottom: 48px;

    @include pad() {
      padding-top: 40px;
      padding-bottom: 48px;
    }

    @include mobile() {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__title {
      font-size: $h2-font-size;
      color: $secondary;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;

      @include pad() {
        font-size: $h3-font-size;
        margin-bottom: 32px;
      }

      @include mobile() {
        font-size: $h5-font-size;
        margin-bottom: 20px;
      }
    }

    &__list {

      li {
        display: flex;
        margin-bottom: 32px;

        @include pad() {
          margin-bottom: 8px;
        }

        @include mobile() {
          display: block;
          position: relative;
        }
      }

      >:nth-child(2n+1) {
        .classic__img {
          margin-right: 32px;

          @include mobile() {
            margin-right: 0;
          }
        }
      }

      >:nth-child(2n) {
        flex-direction: row-reverse;

        @include pad() {
          flex-direction: row;
        }

        .classic__img {
          margin-left: 32px;

          @include pad() {
            margin-left: 0;
            margin-right: 32px;
          }

          @include mobile() {
            margin-right: 0;
          }
        }


      }
    }

    &__img {
      max-width: 57%;

      @include mobile() {
        max-width: 100%;
      }
    }

    .text-icon {
      width: 48px;
      height: 48px;
      margin-right: 8px;

      @include pad() {
        width: 40px;
        height: 40px;
      }

      @include mobile() {
        width: 36px;
        height: 36px;
      }
    }

    &__text {
      text-decoration: none;
      color: $secondary;
      display: flex;
      align-items: center;

      @include mobile() {
        @include position-center;
      }
    }

    .sub-title {
      font-size: $h2-font-size;
      color: $primary;
      font-weight: 900;
      font-style: italic;

      @include pad() {
        font-size: 28px;
      }
    }

  }

  .co-brand {
    // height: 705px;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 60px;
    padding-bottom: 80px;

    @include pad() {
      padding-top: 40px;
      padding-bottom: 56px;
    }

    @include mobile() {
      padding-top: 32px;
      padding-bottom: 40px;
    }

    &__title {
      font-size: $h2-font-size;
      font-weight: 700;
      color: $white-base;
      text-align: center;
      margin-bottom: 40px;

      @include pad() {
        font-size: $h3-font-size;
        margin-bottom: 32px;
      }

      @include mobile() {
        font-size: $h5-font-size;
        margin-bottom: 20px;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 49%;
      text-align: center;
      position: relative;
      background: $white-base;

      @include mobile() {
        width: 100%;
        margin-bottom: 16px;
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      font-size: 72px;
      font-weight: 700;
      color: $primary;
      width: 100%;
      text-align: center;
      @include position-center;

      @include pad {
        font-size: $h3-font-size;
      }
    }

    &__img {
      width: 100%;
      opacity: 0.5;
    }
  }

  .recommend {
    padding-top: 60px;

    @include pad {
      padding-top: 40px;
      padding-bottom: 24px;
    }

    @include mobile {
      padding-top: 32px;
    }

    &__img {
      border-radius: 4px 4px 0px 0px;

      @include pad {
        width: 100%;
      }
    }

    &__title {
      color: $secondary;
      font-size: $h2-font-size;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;

      @include pad {
        font-size: $h3-font-size;
        margin-bottom: 32px;
      }

      @include mobile {
        font-size: $h5-font-size;
        margin-bottom: 20px;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 23%;
      box-shadow: 0px 2px 6px #00000029;
      border: 1px solid #DEE2E6;
      border-radius: 4px;
      margin-bottom: 80px;

      @include pad {
        width: 48%;
        margin-bottom: 32px;
      }

      @include mobile {
        width: 100%;
        margin-bottom: 16px;
      }
    }

    &__body {
      height: 204px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px;

      @include pad {
        padding: 24px 16px;
      }
    }

    &__subtitle {
      font-size: $font-size-sm;
      font-weight: 500;
      color: $gray-600;
      margin-bottom: 8px;
    }

    &__text {
      color: $gray-600;
    }

    &__time {
      font-size: $font-size-sm;
      color: $gray-400;
    }
  }

  .contact {
    padding-top: 60px;
    padding-bottom: 80px;

    @include pad {
      padding-top: 40px;
      padding-bottom: 56px;
    }

    @include mobile {
      padding-top: 30px;
      padding-bottom: 40px;
    }

    &__main {
      max-width: 730px;
      margin: 0 auto;

      @include pad {
        max-width: 450px;
      }

      @include mobile {
        max-width: 100%;
      }
    }

    &__title {
      font-size: $h2-font-size;
      font-weight: 700;
      text-align: center;
      margin-bottom: 24px;

      @include pad {
        font-size: $h3-font-size;
      }

      @include mobile {
        font-size: $h5-font-size;
        margin-bottom: 20px;
      }
    }

    &__text {
      font-size: $h5-font-size;
      margin-bottom: 20px;
    }

    &__item {
      margin-bottom: 16px;

      @include pad {
        margin-bottom: 8px;
      }

      label {
        @include pad {
          font-size: $font-size-sm;
        }
      }

      &:nth-last-child(1) {
        margin-bottom: 40px;

        @include pad {
          margin-bottom: 20px;
        }
      }

      .input__text {
        width: 100%;
        height: 50px;
        border: 1px solid #000000;
        background: #AA060100;
      }
    }

    .submit {
      font-weight: 700;
      padding: 16px 143px;
      color: $white-base;
      background: $primary;
      border: none;
    }
  }
}