.location {
  &__main {
    padding-top: 96px;
    padding-bottom: 128px;

    @include pad {
      padding-top: 60px;
      padding-bottom: 76px;
    }

    @include mobile {
      padding-top: 28px;
      padding-bottom: 40px;
    }
  }

  &__title {
    padding-left: 16px;
    border-left: 8px solid $primary-dark;
    margin-bottom: 60px;

    @include pad {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 24px;
    }
  }

  .select-block {
    margin-bottom: 32px;

    @include pad {
      margin-bottom: 24px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  .select-label {
    padding-right: 20px;

    @include mobile {
      padding-right: 12px;
      width: 84px;
    }
  }

  .location__select {
    width: 324px;
    height: 45px;

    @include pad {
      width: 237px;
    }

    @include mobile {
      width: 100%;
      height: 36px;
    }
  }

  .location__item {
    width: 31%;
    margin-right: 2%;
    margin-bottom: 32px;

    @include pad {
      width: 50%;
      margin-right: 0;
      margin-bottom: 20px;


      &:nth-child(2n+1) {
        padding-right: 15px;
      }

      &:nth-child(2n) {
        padding-left: 15px;
      }
    }

    @include mobile {
      width: 100%;
      margin-bottom: 16px;

      &:nth-child(2n+1) {
        padding-right: 0;
      }

      &:nth-child(2n) {
        padding-left: 0;
      }
    }
  }

  .card {
    max-width: 100%;
    border: 1px solid #00000020;
  }

  .card-header {
    border-bottom: 1px solid #00000020;
  }

  .card-title {
    padding: 12px 0;
    padding-left: 24px;
  }

  .card-body {
    padding: 16px 24px;
  }

  .card-footer {
    .location-button {
      display: block;
      width: 100%;
      background: #000;
      color: #FFF;
      border: 1px solid #00000020;
      padding: 20px 0;

      @include pad {
        padding: 16px 0;
      }
    }
  }

  .address-item {
    margin-bottom: 8px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  .address-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    @include mobile {
      height: 20px;
      width: 20px;
    }
  }

  .location__information {
    flex-wrap: wrap;

    .card {
      width: 38%;
      border: 0;

      @include pad {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
      }

      @include mobile {
        display: block;
        margin-bottom: 16px;
      }

      &-img-top,
      &-main {
        @include pad {
          width: 48%;
        }

        @include mobile {
          width: 100%;
        }
      }
    }

    .card-header,
    .card-body {
      border: 1px solid #00000020;
    }

    .map {
      width: 60%;

      @include pad {
        width: 100%;
        margin-bottom: 20px;
      }

      @include mobile {
        margin-bottom: 16px;
      }
    }
  }
}