.products {
  .banner {
    &__list {
      .banner__item {
        width: 33%;
        height: 96px;
        border: 1px solid $gray-200;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include pad {
          height: 60px;
        }

        @include mobile {
          height: 30px;
        }
      }

      .active {
        border-bottom: 8px solid $primary;

        @include mobile {
          border-bottom: 4px solid $primary;
        }
      }
    }

    &__icon {
      width: 44px;
      height: 44px;
      margin-right: 10px;

      @include pad {
        width: 32px;
        height: 32px;
        margin-right: 8px;

      }

      @include mobile {
        height: 16px;
        height: 16px;
        margin-right: 2px;
      }
    }

    .banner__img {
      width: 50%;
      height: 304px;
      background-position: center;
      background-size: cover;

      @include mobile {
        height: 148px;
      }
    }
  }

  &__main {
    padding-top: 80px;

    @include pad {
      padding-top: 56px;
    }

    @include mobile {
      padding-top: 32px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include pad {
      margin-bottom: 32px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  // RWD
  .optical-block {
    .products__item {
      width: 24%;
    }
  }

  .sunglasses-block {
    padding-bottom: 56px;

    @include pad {
      padding-bottom: 0;
    }

    .navigation {
      display: none;

      @include mobile {
        display: block;
      }
    }

    .products__item {
      width: 32%;
    }
  }

  .optical-block,
  .sunglasses-block {
    .products__item {
      @include pad {
        width: 48%;
      }

      @include mobile {
        width: 100%;
      }
    }
  }

  &__item {
    margin-bottom: 104px;

    @include pad {
      margin-bottom: 72px;
    }

    @include mobile {
      margin-bottom: 32px;
    }

    // ※mobile隱藏第4個開始以後所有元件
    &:nth-child(n+4) {
      @include mobile {
        display: none;
      }
    }

    .card {
      max-width: 100%;
      border-radius: 0;
      border: 0;

      &-img-top {
        width: 100%;
        height: 164px;
        object-fit: cover;
      }

      &-body {
        padding: 0;
      }

      .color-code {
        display: inline-block;
        height: 24px;
        width: 24px;
        border-radius: 4px;
        margin-right: 4px;
        cursor: pointer;

        @include mobile {
          margin-right: 0px;
        }
      }

      .color-primary {
        background: $color-primary;
      }

      .color-secondary {
        background: $color-secondary;
      }
    }
  }

  .pagination {
    margin-bottom: 160px;

    @include pad {
      margin-bottom: 96px;
    }

    @include mobile {
      margin-bottom: 56px;
    }
  }
}