// 文字大小
// .h1{
//   fonst-size: 
// }
// .h2{
//   fonst-size: 32px;
// }
// .h3{
//   fonst-size:
// }
// .h4{
//   fonst-size:
// }
// .h5{
//   fonst-size:
// }
// .h6{
//   fonst-size:16px;
// }


// 文字色彩
.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

// 背景色彩
.bg-primary {
  background-color: $primary;
}

.bg-light {
  background-color: #AA06010D;
}

// display flex
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}


.align-items-center {
  align-items: center;
}