@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.text-center {
  text-align: center; }

.text-start {
  text-align: start; }

.text-end {
  text-align: end; }

.text-decoration-none {
  text-decoration: none; }

.text-primary {
  color: #AA0601; }

.text-primary-dark {
  color: #9F1213; }

.text-secondary {
  color: #650300; }

.text-white {
  color: white; }

.text-gray-100 {
  color: #f2f2f2; }

.text-gray-200 {
  color: #DCDCDC; }

.text-gray-300 {
  color: #6C6C6C; }

.text-gray-400 {
  color: #707070; }

.text-gray-500 {
  color: #555555; }

.text-gray-600 {
  color: #212529; }

.text-gray-700 {
  color: #0A0A0A; }

.fw-light {
  font-weight: 300; }

.fw-regular {
  font-weight: 400; }

.fw-medium {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }

.font-italic {
  font-style: italic; }

.h1 {
  font-size: 4rem; }

.h2 {
  font-size: 3rem; }

.h3 {
  font-size: 2rem; }

.h4 {
  font-size: 1.5rem; }

.h5 {
  font-size: 1.25rem; }

.h6 {
  font-size: 1rem; }

.fz-sm {
  font-size: 0.875rem; }

@media (max-width: 992px) {
  .h1-pad {
    font-size: 4rem; } }

@media (max-width: 992px) {
  .h2-pad {
    font-size: 3rem; } }

@media (max-width: 992px) {
  .h3-pad {
    font-size: 2rem; } }

@media (max-width: 992px) {
  .h4-pad {
    font-size: 1.5rem; } }

@media (max-width: 992px) {
  .h5-pad {
    font-size: 1.25rem; } }

@media (max-width: 992px) {
  .h6-pad {
    font-size: 1rem; } }

@media (max-width: 992px) {
  .fz-sm-pad {
    font-size: 0.875rem; } }

@media (max-width: 767px) {
  .h1-mb {
    font-size: 4rem; } }

@media (max-width: 767px) {
  .h2-mb {
    font-size: 3rem; } }

@media (max-width: 767px) {
  .h3-mb {
    font-size: 2rem; } }

@media (max-width: 767px) {
  .h4-mb {
    font-size: 1.5rem; } }

@media (max-width: 767px) {
  .h5-mb {
    font-size: 1.25rem; } }

@media (max-width: 767px) {
  .h6-mb {
    font-size: 1rem; } }

@media (max-width: 767px) {
  .fz-sm-mb {
    font-size: 0.875rem; } }

.pt-1 {
  padding-top: 0.5rem; }

.pt-2 {
  padding-top: 1rem; }

.pt-3 {
  padding-top: 1.5rem; }

.pt-4 {
  padding-top: 2rem; }

.pt-5 {
  padding-top: 3rem; }

.pt-6 {
  padding-top: 4rem; }

.pb-1 {
  padding-bottom: 0.5rem; }

.pb-2 {
  padding-bottom: 1rem; }

.pb-3 {
  padding-bottom: 1.5rem; }

.pb-4 {
  padding-bottom: 2rem; }

.pb-5 {
  padding-bottom: 3rem; }

.pb-6 {
  padding-bottom: 4rem; }

.pl-1 {
  padding-left: 0.5rem; }

.pl-2 {
  padding-left: 1rem; }

.pl-3 {
  padding-left: 1.5rem; }

.pl-4 {
  padding-left: 2rem; }

.pl-5 {
  padding-left: 3rem; }

.pl-6 {
  padding-left: 4rem; }

.pr-1 {
  padding-right: 0.5rem; }

.pr-2 {
  padding-right: 1rem; }

.pr-3 {
  padding-right: 1.5rem; }

.pr-4 {
  padding-right: 2rem; }

.pr-5 {
  padding-right: 3rem; }

.pr-6 {
  padding-right: 4rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mt-2 {
  margin-top: 1rem; }

.mt-3 {
  margin-top: 1.5rem; }

.mt-4 {
  margin-top: 2rem; }

.mt-5 {
  margin-top: 3rem; }

.mt-6 {
  margin-top: 4rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 3rem; }

.mb-6 {
  margin-bottom: 4rem; }

.ml-1 {
  margin-left: 0.5rem; }

.ml-2 {
  margin-left: 1rem; }

.ml-3 {
  margin-left: 1.5rem; }

.ml-4 {
  margin-left: 2rem; }

.ml-5 {
  margin-left: 3rem; }

.ml-6 {
  margin-left: 4rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mr-2 {
  margin-right: 1rem; }

.mr-3 {
  margin-right: 1.5rem; }

.mr-4 {
  margin-right: 2rem; }

.mr-5 {
  margin-right: 3rem; }

.mr-6 {
  margin-right: 4rem; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

@media (max-width: 992px) {
  .d-inline-pad {
    display: inline; } }

@media (max-width: 992px) {
  .d-inline-block-pad {
    display: inline-block; } }

@media (max-width: 992px) {
  .d-block-pad {
    display: block; } }

@media (max-width: 992px) {
  .d-flex-pad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 992px) {
  .d-none-pad {
    display: none; } }

@media (max-width: 767px) {
  .d-inline-mb {
    display: inline; } }

@media (max-width: 767px) {
  .d-inline-block-mb {
    display: inline-block; } }

@media (max-width: 767px) {
  .d-block-mb {
    display: block; } }

@media (max-width: 767px) {
  .d-flex-mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767px) {
  .d-none-mb {
    display: none; } }

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bg-primary {
  background-color: #AA0601; }

.bg-secondary {
  background-color: #650300; }

.bg-light {
  background-color: #AA06010D; }

.img-horizon-reverse {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
      transform: scaleX(-1); }

body {
  /* mac, IOS 系統字體  Windows 英文系統字  微軟正黑體 Android 系統字  IOS 系統字  通用字體 */
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2; }

/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* 全域 border-box */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.btn {
  display: inline-block;
  padding: 8px 16px; }

.card {
  max-width: 255px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem; }
  .card-img-top {
    display: block;
    width: 100%; }
  .card-body {
    padding: 16px; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .pagination .page-link {
    display: inline-block;
    padding: 12px 16px;
    color: #000;
    text-decoration: none;
    border: 1px solid #555555;
    vertical-align: middle; }
  .pagination .active {
    background: #000; }
    .pagination .active .page-link {
      color: white; }
  .pagination .next-page {
    background-color: #f2f2f2; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .breadcrumb-item {
    margin-right: 8px; }
    .breadcrumb-item:nth-last-child(1) {
      margin-right: 0; }
  .breadcrumb-link {
    text-decoration: none;
    color: black;
    margin-right: 8px; }
  .breadcrumb .active {
    color: #AA0601; }

.header {
  padding: 0 88px; }
  @media (max-width: 992px) {
    .header {
      padding: 0 39px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0; } }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .header__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .header__main .menu {
          width: 100%; } }
  .header__logo {
    width: 80px; }
    @media (max-width: 767px) {
      .header__logo {
        width: 48px;
        padding: 10px 0; } }
  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .menu__list li {
      margin: 0 32px; }
    .header .menu__list > :nth-child(1) {
      margin-left: 0; }
    .header .menu__list > :nth-child(4) {
      margin-right: 0; }
    @media (max-width: 767px) {
      .header .menu__list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .header .menu__list li {
          width: 50%;
          margin: 0;
          text-align: center;
          border: 1px solid white; } }
  .header .menu__link {
    display: block;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    padding: 38px 0; }
    .header .menu__link:hover {
      color: rgba(255, 255, 255, 0.85); }
    @media (max-width: 767px) {
      .header .menu__link {
        display: block;
        padding: 8px 0; } }

.footer__main {
  border-bottom: 1px solid white; }
  @media (max-width: 767px) {
    .footer__main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .footer .menu {
      display: none; } }
  .footer .menu li {
    margin-right: 48px; }
    @media (max-width: 992px) {
      .footer .menu li {
        margin-right: 40px; } }
  .footer .menu > :last-child {
    margin-right: 0; }
  .footer .menu a {
    color: white;
    text-decoration: none; }

.footer__community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__community li {
    margin-left: 32px; }
    @media (max-width: 992px) {
      .footer__community li {
        margin-left: 24px; } }
  .footer__community > :first-child {
    margin-left: 0; }

.footer .address__list li {
  margin-bottom: 16px; }
  @media (max-width: 992px) {
    .footer .address__list li {
      margin-bottom: 12px; } }
  @media (max-width: 767px) {
    .footer .address__list li {
      margin-bottom: 6px; } }

.footer .address__list > :last-child {
  margin-bottom: 0; }

.footer .address__text {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400; }
  @media (max-width: 992px) {
    .footer .address__text {
      font-size: 1.25rem; } }
  @media (max-width: 767px) {
    .footer .address__text {
      font-size: 1rem; } }

.footer__copyright {
  padding-top: 32px;
  padding-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white; }
  @media (max-width: 767px) {
    .footer__copyright {
      padding-top: 16px;
      padding-bottom: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer__copyright .copyright-text {
        font-size: 0.875rem;
        margin-bottom: 8px; } }

.footer__rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem; }
  @media (max-width: 767px) {
    .footer__rules {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .footer__rules .rule {
    margin-left: 48px; }
    @media (max-width: 992px) {
      .footer__rules .rule {
        margin-left: 24px; } }
    @media (max-width: 767px) {
      .footer__rules .rule {
        margin-left: 0px;
        margin-bottom: 8px; } }
  .footer__rules > :first-child {
    margin-left: 0; }
  .footer__rules > :last-child {
    margin-bottom: 0; }

.footer .icon-community,
.footer .icon-address {
  width: 48px;
  height: 48px; }

@media (max-width: 992px) {
  .footer .icon-community,
  .footer .icon-address {
    width: 24px;
    height: 24px; } }

@media (max-width: 767px) {
  .footer .icon-address {
    width: 20px;
    height: 20px; } }

.footer .link:hover {
  color: rgba(255, 255, 255, 0.85); }

.navbar .nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navbar .nav__item {
  margin-right: 3rem; }
  .navbar .nav__item:nth-last-child(1) {
    margin-right: 0; }

.navbar .nav__link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 12px 0; }
  .navbar .nav__link:hover {
    color: rgba(255, 255, 255, 0.85); }
  @media (max-width: 992px) {
    .navbar .nav__link {
      font-size: 1rem;
      padding: 16px 0; } }

.navbar .nav__icon {
  width: 30px;
  height: 30px; }

.index .banner {
  background-image: url("../images/banner/banner.png");
  background-size: cover;
  background-position: 50% 50%; }
  .index .banner__main {
    height: 840px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 767px) {
      .index .banner__main {
        height: 394px; } }
  .index .banner__title {
    font-size: 4rem;
    font-weight: 700;
    color: #650300; }
    @media (max-width: 992px) {
      .index .banner__title {
        font-size: 3rem; } }
    @media (max-width: 767px) {
      .index .banner__title {
        font-size: 2rem; } }
  .index .banner .sub-title {
    font-size: 2rem;
    font-weight: 400;
    color: #650300;
    display: block; }
    @media (max-width: 992px) {
      .index .banner .sub-title {
        font-size: 1.25rem; } }
    @media (max-width: 767px) {
      .index .banner .sub-title {
        font-size: 1rem; } }

.index .services {
  padding-top: 60px; }
  @media (max-width: 992px) {
    .index .services {
      padding-top: 40px;
      padding-bottom: 24px; } }
  @media (max-width: 767px) {
    .index .services {
      padding-top: 32px;
      padding-bottom: 8px; } }
  .index .services__title {
    font-size: 3rem;
    font-weight: 700;
    color: #650300;
    text-align: center;
    margin-bottom: 48px; }
    @media (max-width: 992px) {
      .index .services__title {
        font-size: 2rem;
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .index .services__title {
        font-size: 1.5rem;
        margin-bottom: 28px; } }
  .index .services__img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 16px; }
  .index .services .sub-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #650300;
    margin-bottom: 8px; }
  .index .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 992px) {
      .index .services__list {
        padding: 0 77px; } }
    @media (max-width: 767px) {
      .index .services__list {
        padding: 0 60px; } }
    .index .services__list li {
      text-align: center;
      width: 25%;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 80px; }
      @media (max-width: 992px) {
        .index .services__list li {
          width: 50%;
          padding: 0;
          margin-bottom: 32px; } }
      @media (max-width: 767px) {
        .index .services__list li {
          width: 100%; } }
    .index .services__list > :first-child {
      padding-left: 0; }
    .index .services__list > :last-child {
      padding-right: 0; }
    @media (max-width: 992px) {
      .index .services__list > :nth-child(2n+1) {
        padding-right: 52.5px; } }
    @media (max-width: 767px) {
      .index .services__list > :nth-child(2n+1) {
        padding-right: 0; } }
    @media (max-width: 992px) {
      .index .services__list > :nth-child(2n) {
        padding-left: 52.5px; } }
    @media (max-width: 767px) {
      .index .services__list > :nth-child(2n) {
        padding-left: 0; } }
  .index .services p {
    text-align: left;
    font-weight: 400; }

.index .classic {
  padding-top: 60px;
  padding-bottom: 48px; }
  @media (max-width: 992px) {
    .index .classic {
      padding-top: 40px;
      padding-bottom: 48px; } }
  @media (max-width: 767px) {
    .index .classic {
      padding-top: 32px;
      padding-bottom: 32px; } }
  .index .classic__title {
    font-size: 3rem;
    color: #650300;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .index .classic__title {
        font-size: 2rem;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .index .classic__title {
        font-size: 1.25rem;
        margin-bottom: 20px; } }
  .index .classic__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .index .classic__list li {
        margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .index .classic__list li {
        display: block;
        position: relative; } }
  .index .classic__list > :nth-child(2n+1) .classic__img {
    margin-right: 32px; }
    @media (max-width: 767px) {
      .index .classic__list > :nth-child(2n+1) .classic__img {
        margin-right: 0; } }
  .index .classic__list > :nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 992px) {
      .index .classic__list > :nth-child(2n) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .index .classic__list > :nth-child(2n) .classic__img {
      margin-left: 32px; }
      @media (max-width: 992px) {
        .index .classic__list > :nth-child(2n) .classic__img {
          margin-left: 0;
          margin-right: 32px; } }
      @media (max-width: 767px) {
        .index .classic__list > :nth-child(2n) .classic__img {
          margin-right: 0; } }
  .index .classic__img {
    max-width: 57%; }
    @media (max-width: 767px) {
      .index .classic__img {
        max-width: 100%; } }
  .index .classic .text-icon {
    width: 48px;
    height: 48px;
    margin-right: 8px; }
    @media (max-width: 992px) {
      .index .classic .text-icon {
        width: 40px;
        height: 40px; } }
    @media (max-width: 767px) {
      .index .classic .text-icon {
        width: 36px;
        height: 36px; } }
  .index .classic__text {
    color: #650300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .index .classic__text {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }
  .index .classic .sub-title {
    font-size: 3rem;
    color: #AA0601;
    font-weight: 900;
    font-style: italic; }
    @media (max-width: 992px) {
      .index .classic .sub-title {
        font-size: 28px; } }

.index .co-brand {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .index .co-brand {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 767px) {
    .index .co-brand {
      padding-top: 32px;
      padding-bottom: 40px; } }
  .index .co-brand__title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .index .co-brand__title {
        font-size: 2rem;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .index .co-brand__title {
        font-size: 1.25rem;
        margin-bottom: 20px; } }
  .index .co-brand__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .index .co-brand__item {
    width: 49%;
    text-align: center;
    position: relative;
    background: white; }
    @media (max-width: 767px) {
      .index .co-brand__item {
        width: 100%;
        margin-bottom: 16px; } }
    .index .co-brand__item:nth-last-child(1) {
      margin-bottom: 0; }
  .index .co-brand__subtitle {
    font-size: 72px;
    font-weight: 700;
    color: #AA0601;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media (max-width: 992px) {
      .index .co-brand__subtitle {
        font-size: 2rem; } }
  .index .co-brand__img {
    width: 100%;
    opacity: 0.5; }

.index .recommend {
  padding-top: 60px; }
  @media (max-width: 992px) {
    .index .recommend {
      padding-top: 40px;
      padding-bottom: 24px; } }
  @media (max-width: 767px) {
    .index .recommend {
      padding-top: 32px; } }
  .index .recommend__img {
    border-radius: 4px 4px 0px 0px; }
    @media (max-width: 992px) {
      .index .recommend__img {
        width: 100%; } }
  .index .recommend__title {
    color: #650300;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .index .recommend__title {
        font-size: 2rem;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .index .recommend__title {
        font-size: 1.25rem;
        margin-bottom: 20px; } }
  .index .recommend__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .index .recommend__item {
    width: 23%;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    margin-bottom: 80px; }
    @media (max-width: 992px) {
      .index .recommend__item {
        width: 48%;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .index .recommend__item {
        width: 100%;
        margin-bottom: 16px; } }
  .index .recommend__body {
    height: 204px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px; }
    @media (max-width: 992px) {
      .index .recommend__body {
        padding: 24px 16px; } }
  .index .recommend__subtitle {
    font-size: 0.875rem;
    font-weight: 500;
    color: #212529;
    margin-bottom: 8px; }
  .index .recommend__text {
    color: #212529; }
  .index .recommend__time {
    font-size: 0.875rem;
    color: #707070; }

.index .contact {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .index .contact {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 767px) {
    .index .contact {
      padding-top: 30px;
      padding-bottom: 40px; } }
  .index .contact__main {
    max-width: 730px;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .index .contact__main {
        max-width: 450px; } }
    @media (max-width: 767px) {
      .index .contact__main {
        max-width: 100%; } }
  .index .contact__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px; }
    @media (max-width: 992px) {
      .index .contact__title {
        font-size: 2rem; } }
    @media (max-width: 767px) {
      .index .contact__title {
        font-size: 1.25rem;
        margin-bottom: 20px; } }
  .index .contact__text {
    font-size: 1.25rem;
    margin-bottom: 20px; }
  .index .contact__item {
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .index .contact__item {
        margin-bottom: 8px; } }
    @media (max-width: 992px) {
      .index .contact__item label {
        font-size: 0.875rem; } }
    .index .contact__item:nth-last-child(1) {
      margin-bottom: 40px; }
      @media (max-width: 992px) {
        .index .contact__item:nth-last-child(1) {
          margin-bottom: 20px; } }
    .index .contact__item .input__text {
      width: 100%;
      height: 50px;
      border: 1px solid #000000;
      background: #AA060100; }
  .index .contact .submit {
    font-weight: 700;
    padding: 16px 143px;
    color: white;
    background: #AA0601;
    border: none; }

.products .banner__list .banner__item {
  width: 33%;
  height: 96px;
  border: 1px solid #DCDCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  @media (max-width: 992px) {
    .products .banner__list .banner__item {
      height: 60px; } }
  @media (max-width: 767px) {
    .products .banner__list .banner__item {
      height: 30px; } }

.products .banner__list .active {
  border-bottom: 8px solid #AA0601; }
  @media (max-width: 767px) {
    .products .banner__list .active {
      border-bottom: 4px solid #AA0601; } }

.products .banner__icon {
  width: 44px;
  height: 44px;
  margin-right: 10px; }
  @media (max-width: 992px) {
    .products .banner__icon {
      width: 32px;
      height: 32px;
      margin-right: 8px; } }
  @media (max-width: 767px) {
    .products .banner__icon {
      height: 16px;
      height: 16px;
      margin-right: 2px; } }

.products .banner .banner__img {
  width: 50%;
  height: 304px;
  background-position: center;
  background-size: cover; }
  @media (max-width: 767px) {
    .products .banner .banner__img {
      height: 148px; } }

.products__main {
  padding-top: 80px; }
  @media (max-width: 992px) {
    .products__main {
      padding-top: 56px; } }
  @media (max-width: 767px) {
    .products__main {
      padding-top: 32px; } }

.products__title {
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .products__title {
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .products__title {
      margin-bottom: 20px; } }

.products .optical-block .products__item {
  width: 24%; }

.products .sunglasses-block {
  padding-bottom: 56px; }
  @media (max-width: 992px) {
    .products .sunglasses-block {
      padding-bottom: 0; } }
  .products .sunglasses-block .navigation {
    display: none; }
    @media (max-width: 767px) {
      .products .sunglasses-block .navigation {
        display: block; } }
  .products .sunglasses-block .products__item {
    width: 32%; }

@media (max-width: 992px) {
  .products .optical-block .products__item,
  .products .sunglasses-block .products__item {
    width: 48%; } }

@media (max-width: 767px) {
  .products .optical-block .products__item,
  .products .sunglasses-block .products__item {
    width: 100%; } }

.products__item {
  margin-bottom: 104px; }
  @media (max-width: 992px) {
    .products__item {
      margin-bottom: 72px; } }
  @media (max-width: 767px) {
    .products__item {
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .products__item:nth-child(n+4) {
      display: none; } }
  .products__item .card {
    max-width: 100%;
    border-radius: 0;
    border: 0; }
    .products__item .card-img-top {
      width: 100%;
      height: 164px;
      -o-object-fit: cover;
         object-fit: cover; }
    .products__item .card-body {
      padding: 0; }
    .products__item .card .color-code {
      display: inline-block;
      height: 24px;
      width: 24px;
      border-radius: 4px;
      margin-right: 4px; }
      @media (max-width: 767px) {
        .products__item .card .color-code {
          margin-right: 0px; } }
    .products__item .card .color-primary {
      background: #5F3E2D; }
    .products__item .card .color-secondary {
      background: #B75929; }

.products .pagination {
  margin-bottom: 160px; }
  @media (max-width: 992px) {
    .products .pagination {
      margin-bottom: 96px; } }
  @media (max-width: 767px) {
    .products .pagination {
      margin-bottom: 56px; } }

.location__main {
  padding-top: 96px;
  padding-bottom: 128px; }
  @media (max-width: 992px) {
    .location__main {
      padding-top: 60px;
      padding-bottom: 76px; } }
  @media (max-width: 767px) {
    .location__main {
      padding-top: 28px;
      padding-bottom: 40px; } }

.location__title {
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 60px; }
  @media (max-width: 992px) {
    .location__title {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .location__title {
      margin-bottom: 24px; } }

.location .select-block {
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .location .select-block {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .location .select-block {
      margin-bottom: 20px; } }

.location .select-label {
  padding-right: 20px; }
  @media (max-width: 767px) {
    .location .select-label {
      padding-right: 12px;
      width: 84px; } }

.location .location__select {
  width: 324px;
  height: 45px; }
  @media (max-width: 992px) {
    .location .location__select {
      width: 237px; } }
  @media (max-width: 767px) {
    .location .location__select {
      width: 100%;
      height: 36px; } }

.location .location__item {
  width: 31%;
  margin-right: 2%;
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .location .location__item {
      width: 50%;
      margin-right: 0;
      margin-bottom: 20px; }
      .location .location__item:nth-child(2n+1) {
        padding-right: 15px; }
      .location .location__item:nth-child(2n) {
        padding-left: 15px; } }
  @media (max-width: 767px) {
    .location .location__item {
      width: 100%;
      margin-bottom: 16px; }
      .location .location__item:nth-child(2n+1) {
        padding-right: 0; }
      .location .location__item:nth-child(2n) {
        padding-left: 0; } }

.location .card {
  max-width: 100%;
  border: 1px solid #00000020; }

.location .card-header {
  border-bottom: 1px solid #00000020; }

.location .card-title {
  padding: 12px 0;
  padding-left: 24px; }

.location .card-body {
  padding: 16px 24px; }

.location .card-footer .location-button {
  display: block;
  width: 100%;
  background: #000;
  color: #FFF;
  border: 1px solid #00000020;
  padding: 20px 0; }
  @media (max-width: 992px) {
    .location .card-footer .location-button {
      padding: 16px 0; } }

.location .address-item {
  margin-bottom: 8px; }
  .location .address-item:nth-last-child(1) {
    margin-bottom: 0; }

.location .address-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px; }
  @media (max-width: 767px) {
    .location .address-icon {
      height: 20px;
      width: 20px; } }

.location .location__information {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .location .location__information .card {
    width: 38%;
    border: 0; }
    @media (max-width: 992px) {
      .location .location__information .card {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .location .location__information .card {
        display: block;
        margin-bottom: 16px; } }
    @media (max-width: 992px) {
      .location .location__information .card-img-top, .location .location__information .card-main {
        width: 48%; } }
    @media (max-width: 767px) {
      .location .location__information .card-img-top, .location .location__information .card-main {
        width: 100%; } }
  .location .location__information .card-header,
  .location .location__information .card-body {
    border: 1px solid #00000020; }
  .location .location__information .map {
    width: 60%; }
    @media (max-width: 992px) {
      .location .location__information .map {
        width: 100%;
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .location .location__information .map {
        margin-bottom: 16px; } }

.faq__main {
  padding-top: 96px;
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .faq__main {
      padding-top: 60px;
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .faq__main {
      padding-top: 28px;
      padding-bottom: 56px; } }

.faq__title {
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 60px; }
  @media (max-width: 992px) {
    .faq__title {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .faq__title {
      margin-bottom: 24px; } }

.faq__subtitle {
  margin-bottom: 36px; }
  @media (max-width: 992px) {
    .faq__subtitle {
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .faq__subtitle {
      margin-bottom: 24px; } }

.faq__item {
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .faq__item {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .faq__item {
      margin-bottom: 20px; } }
  .faq__item:nth-last-child(1) {
    margin-bottom: 0; }
  .faq__item .item-title {
    margin-bottom: 16px; }
    @media (max-width: 767px) {
      .faq__item .item-title {
        margin-bottom: 8px; } }
  .faq__item .item-text {
    margin-left: 95px; }
    @media (max-width: 992px) {
      .faq__item .item-text {
        margin-left: 60px; } }
    @media (max-width: 767px) {
      .faq__item .item-text {
        margin-left: 0; } }

@media (max-width: 767px) {
  .blog .navbar {
    display: none; } }

.blog__main {
  padding-top: 40px;
  padding-bottom: 10rem; }

.blog__title {
  padding-left: 1rem;
  border-left: 0.5rem solid #9F1213;
  margin-bottom: 60px; }
  @media (max-width: 992px) {
    .blog__title {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .blog__title {
      margin-bottom: 1.5rem; } }

.blog .card {
  max-width: 100%;
  border: 0;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  cursor: pointer; }
  @media (max-width: 992px) {
    .blog .card {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .blog .card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 20px; } }
  .blog .card:nth-last-child(1) {
    margin-bottom: 96px; }
    @media (max-width: 992px) {
      .blog .card:nth-last-child(1) {
        margin-bottom: 64px; } }
    @media (max-width: 767px) {
      .blog .card:nth-last-child(1) {
        margin-bottom: 52px; } }
  .blog .card-img-block {
    width: 60%; }
    @media (max-width: 992px) {
      .blog .card-img-block {
        width: 50%; } }
    @media (max-width: 767px) {
      .blog .card-img-block {
        width: 100%;
        margin-bottom: 0.5rem; } }
  .blog .card-top-img {
    width: 100%; }
  .blog .card-main {
    width: 40%;
    padding-left: 30px; }
    @media (max-width: 992px) {
      .blog .card-main {
        width: 50%; } }
    @media (max-width: 767px) {
      .blog .card-main {
        width: 100%;
        padding-left: 0; } }
  .blog .card-header {
    margin-bottom: 24px; }
    @media (max-width: 992px) {
      .blog .card-header {
        margin-bottom: 33px; } }
    @media (max-width: 767px) {
      .blog .card-header {
        margin-bottom: 0; } }
  .blog .card-time {
    opacity: 0.7; }
  .blog .card-body {
    padding: 0;
    margin-bottom: 14px; }
    @media (max-width: 992px) {
      .blog .card-body {
        margin-bottom: 0; } }
  .blog .card-text {
    color: #555555; }

.article__main {
  padding-top: 0.5rem;
  padding-bottom: 10rem; }
  @media (max-width: 992px) {
    .article__main {
      padding-bottom: 6rem; } }
  @media (max-width: 767px) {
    .article__main {
      padding-bottom: 3.5rem; } }

.article .breadcrumb {
  margin-bottom: 0.5rem; }

.article__content {
  width: 75%; }
  @media (max-width: 767px) {
    .article__content {
      width: 100%; } }

.article .sidebar {
  width: 25%;
  padding-left: 30px; }
  @media (max-width: 767px) {
    .article .sidebar {
      width: 100%;
      padding-left: 0; } }
  .article .sidebar__header {
    margin-top: 72px;
    margin-bottom: 0.5rem; }
    @media (max-width: 992px) {
      .article .sidebar__header {
        margin-top: 58px; } }
    @media (max-width: 767px) {
      .article .sidebar__header {
        margin-top: 0; } }
  .article .sidebar .tag-icon {
    width: 3rem;
    height: 3rem; }
    @media (max-width: 992px) {
      .article .sidebar .tag-icon {
        width: 1.5rem;
        height: 1.5rem; } }

.article__title {
  margin-bottom: 0.5rem; }
  @media (max-width: 992px) {
    .article__title {
      margin-bottom: 4px; } }
  @media (max-width: 767px) {
    .article__title {
      margin-bottom: 0; } }

.article .subtitle-block {
  margin-bottom: 1.5rem; }
  @media (max-width: 767px) {
    .article .subtitle-block {
      margin-bottom: 20px; } }

.article__item {
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .article__item {
      margin-bottom: 1.5rem; } }
  .article__item:nth-last-child(1) {
    margin-bottom: 3rem; }
    @media (max-width: 992px) {
      .article__item:nth-last-child(1) {
        margin-bottom: 28px; } }
    @media (max-width: 767px) {
      .article__item:nth-last-child(1) {
        margin-bottom: 20px; } }

.article__img {
  width: 100%;
  margin-bottom: 1.5rem; }
  @media (max-width: 992px) {
    .article__img {
      margin-bottom: 1rem; } }

.article__text {
  opacity: 0.6;
  margin-bottom: 20px; }
  @media (max-width: 992px) {
    .article__text {
      margin-bottom: 16px; } }
  .article__text:nth-last-child(1) {
    margin-bottom: 0; }

.article .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.article .tag-top .tag-item {
  margin-right: 16px; }
  .article .tag-top .tag-item:nth-last-child(1) {
    margin-right: 0; }

.article .tag-sidebar .tag-item {
  margin-right: 1.5rem; }
  .article .tag-sidebar .tag-item:nth-last-child(1) {
    margin-right: 0; }

.article .article__community {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 1.5rem; }
  @media (max-width: 992px) {
    .article .article__community {
      margin-bottom: 1rem; } }
  @media (max-width: 767px) {
    .article .article__community {
      margin-bottom: 10px; } }
  .article .article__community .community-item {
    margin-right: 1rem; }
    .article .article__community .community-item:nth-last-child(1) {
      margin-right: 0; }
  .article .article__community .tag-icon {
    width: 1.5rem;
    height: 1.5rem; }
    @media (max-width: 992px) {
      .article .article__community .tag-icon {
        width: 20px;
        height: 20px; } }

@media (max-width: 767px) {
  .article__pagination {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .article__pagination .page-item {
    margin-bottom: 6px; }
    .article__pagination .page-item:nth-last-child(1) {
      margin-bottom: 0; } }

.article__pagination .page-icon {
  width: 1.5rem;
  height: 1.5rem; }

.article__pagination .page-text:nth-child(2n+1) {
  margin-right: 0.5rem; }
  @media (max-width: 992px) {
    .article__pagination .page-text:nth-child(2n+1) {
      margin-right: 0.25rem; } }
  @media (max-width: 767px) {
    .article__pagination .page-text:nth-child(2n+1) {
      margin-right: 0; } }

.article__pagination .page-text:nth-child(2n) {
  margin-left: 0.5rem; }
  @media (max-width: 992px) {
    .article__pagination .page-text:nth-child(2n) {
      margin-left: 0.25rem; } }
  @media (max-width: 767px) {
    .article__pagination .page-text:nth-child(2n) {
      margin-left: 0; } }

@media (max-width: 767px) {
  .article__pagination .next-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

/*# sourceMappingURL=all.css.map */
