.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-inline-pad {
  @include pad {
    display: inline;
  }
}

.d-inline-block-pad {
  @include pad {
    display: inline-block;
  }
}

.d-block-pad {
  @include pad {
    display: block;
  }
}

.d-flex-pad {
  @include pad {
    display: flex;
  }
}

.d-none-pad {
  @include pad {
    display: none;
  }
}

.d-inline-mb {
  @include mobile {
    display: inline;
  }
}

.d-inline-block-mb {
  @include mobile {
    display: inline-block;
  }
}

.d-block-mb {
  @include mobile {
    display: block;
  }
}

.d-flex-mb {
  @include mobile {
    display: flex;
  }
}

.d-none-mb {
  @include mobile {
    display: none;
  }
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}