@mixin pad {

  // @media (max-width:768px) {
  @media (max-width:992px) {
    @content
  }
}

@mixin mobile {

  // @media (max-width:375px) {
  @media (max-width:767px) {
    @content
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;

  @include pad {
    padding: 0 39px;
  }
}