// text
.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-white {
  color: $white-base;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-decoration-none {
  text-decoration: none;
}