// 顏色
$primary: #AA0601;
$secondary: #650300;
$light:#FBF2F2;
$white-base: white;

// header、footer底色
$header-base:$white-base;
$footer-base:$white-base;

// warning → 警告（黃色）
// danger → 危險（紅色）

//灰階，寫法nth($grayscale,第幾個顏色、css第一個位子為1，js才是0)
$gray-100: #f2f2f2;
$gray-200: #DCDCDC;
$gray-300: #0f0909;
$gray-400: #707070;
$gray-500: #555555;
$gray-600: #212529;
$gray-700: #0A0A0A;


// 文字大小
$font-size-base: 1rem; //16px

$font-size-sm: $font-size-base * 0.875; //14px

$h1-font-size: $font-size-base * 4; //64px
$h2-font-size: $font-size-base * 3; //48px
$h3-font-size: $font-size-base * 2; //32px
$h4-font-size: $font-size-base * 1.5; //24px
$h5-font-size: $font-size-base * 1.25; //20px
$h6-font-size: $font-size-base; //16px